
          <h2>Registration Form</h2>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #loginFormGroup="ngForm" >
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" 
              class="form-control" 
              [(ngModel)]="model.firstName" 
              #firstName="ngModel"
              pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" 
              [ngClass]="{'is-invalid':loginFormGroup.submitted && firstName.invalid}" 
              name="firstName" 
              required >
              <div class="invalid-feedback">
                <div>First Name is required</div>
                <div *ngIf="firstName.errors.pattern">Only Name!</div>
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" 
              class="form-control" 
              [(ngModel)]="model.lastName" 
              #lastName="ngModel" 
              [ngClass]="{'is-invalid':loginFormGroup.submitted && lastName.invalid}" 
              name="lastName" 
              required >
              <div class="invalid-feedback">
                <div>Last Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" 
              class="form-control" 
              [(ngModel)]="model.email" 
              #email="ngModel" 
              [ngClass]="{'is-invalid':loginFormGroup.submitted && email.invalid}" 
              name="email" 
              required 
              email>
              <div *ngIf="loginFormGroup.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email Name is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email Address</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" 
              class="form-control" 
              [(ngModel)]="model.password" 
              #password="ngModel" 
              [ngClass]="{'is-invalid':loginFormGroup.submitted && password.invalid}" 
              name="password" 
              required 
              minlength="6">
              <div *ngIf="loginFormGroup.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password Name is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            
            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input type="phonenumber" 
                class="form-control" 
                [(ngModel)]="model.phonenumber" 
                #phonenumber="ngModel" 
                [ngClass]="{'is-invalid':loginFormGroup.submitted && phonenumber.invalid}" 
                name="phonenumber" 
                required 
                pattern ="[/[6-9]\d{9}/]"
                minlength="10"
                maxlength="10">
                <div *ngIf="loginFormGroup.submitted && phonenumber.invalid" class="invalid-feedback">
                  <div *ngIf="phonenumber.errors.required">Phone Number is required</div>
                  <div *ngIf="phonenumber.errors.minlength">Password must be at least 10 numbers</div>
                  <div *ngIf="phonenumber.errors.maxlength">Password must be 10 numbers</div>
                  <div *ngIf="phonenumber.errors.pattern">Only Numbers!</div>
                </div>
              </div>

            <div class="form-group">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>
       
  