<table class="table table-striped">
      <tr>
        <th> </th>
        <th >FirstName </th>
        <th >LastName</th>
        <th>City</th>
        <th >State</th>
        <th>View Orders</th>
      </tr>
    <tbody>
      <tr *ngFor = "let data of customersData">
        <td><img src="assets/{{ data.gender | lowercase }}.png" class="grid-image" width="150" height="150" alt="Customer Image"></td>
        <td scope="row" [routerLink] = '[data.id,"detail"]'>{{data.firstName | titlecase}}</td>
        <td>{{data.lastName | titlecase}}</td>
        <td>{{data.city | titlecase}}</td>
        <td>{{data.state.name}}</td>
        <td><a [routerLink]= '[data.id, "orders"]' class="btn btn-primary">View Orders</a></td>
      </tr>
    </tbody>
</table>
