<div class="card" *ngIf='CustomerDetailedInfo'>
  <div class="row">
    <div class="card-image">
      <img src="assets/{{CustomerDetailedInfo.gender | lowercase}}.png" class="card-image" width="200" height="200">
      <br>
    </div>
    <div class="card">
      <h3>
        {{CustomerDetailedInfo.firstName | titlecase  }} {{CustomerDetailedInfo.lastName | titlecase }}
      </h3>
      <br>
      {{CustomerDetailedInfo.address}}
      <br>
      {{CustomerDetailedInfo.city}}
      <br>
      {{CustomerDetailedInfo.state.name}}
      <br>
    </div>
  </div>
</div>