<!-- <div class="customers view indent" *ngFor="let data of customersData">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Orders
            </h3>
        </header>
        <br>
        <div class="container">
            <div class="row" *ngFor="let data of customersData">
                <h4>{{ data.firstName | titlecase }} {{ data.lastName | titlecase }}</h4>
                <br />
                <table>
                    <tr *ngFor="let data of customersData">
                        <td>{{orders.productName}}</td>
                        <td class="text-right">{{ orders.itemCost | currency:'USD':'symbol' }}</td>
                    </tr>
                    <tr class="summary-border">
                        <td class="text-right">{{ data.ordersTotal | currency:'USD':'symbol' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->