<div style= "text-align: center;">
<div class="row" >
    <br>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .img-container {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        
        .clearfix::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
</div>
    <div class="clearfix">
        <div class="img-container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51e%2Bt0Bt1WL._SX425_.jpg" alt="" style="width:100%">
        </div>
        <div class="img-container">
        <img src="https://image.shutterstock.com/image-vector/number-2-arrow-icon-logo-260nw-530940550.jpg" alt="" style="width:100%">
        </div>
      </div>
</div>
<br>
<!-- <input type="text" #user value="content">
<h3 [style.color] = 'color == "green" ? "grey" : "green"'>{{title}} </h3>
<p >{{ 6 == 2*3}}</p>
<button (click)='changeColor()'>Click</button><br><br>
<input type="text"  [value] = 'username' (keyup) = 'updateUserDetails($event.target.value)'><br>
<div>{{username}}</div>
<br>

<div>
    <input type="text" 
        [value] = 'username' 
        (keyup.enter) = 'updateUserDetails($event.target.value)'
        (blur) = 'changeInUserDetails($event.target.value)'
    >
    <br> <br>
    <input type="text" [(ngModel)] = 'username'>
</div>
<br>

<select *ngFor= 'let colorVal of arr'>                        //3 different color elements 
    <option *ngFor= 'let colorVal of arr'>{{colorVal}}</option>   //will come with 3 colors
</select>



<select>
    <option *ngFor= 'let colorVal of arr'>{{colorVal}}</option>
</select>
<br><br> -->

<app-templatedriven></app-templatedriven>
